
WizardBall/Saved/Logs/WizardBall.log
WizardBall/Saved/Logs/WizardBall-backup-2024.10.08-22.40.20.log
WizardBall/Saved/Logs/WizardBall.log
WizardBall/Saved/Config/Windows/EditorPerProjectUserSettings.ini
WizardBall/Saved/Config/CrashReportClient/UE4CC-Windows-352556234B0CA8B7B3F018B8708DD92B/CrashReportClient.ini
WizardBall/Intermediate/CachedAssetRegistry.bin
